.indented > * {
    margin: 5px 10px;
}
.demo-btn-group{
    width: auto;
    height: auto;
    text-align: center;
}
.demo-btn-group > *{
    margin: 5px 0;
}

.icon-container{
    width:100%;
}
.icon-container > *{
    margin:10px;
    padding-top: 50px;
    float: left;
    width: 7em;
    height: 85px;
    background-color: #eee;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

/*
* blue-select:为手机弹出单选样式
*  可自定义
*/
.blue-select{
 display: -webkit-box;
    display: box;
    -webkit-box-orient:vertical;
    box-orient:vertical;
    padding: 20px;   
 }
 
 .blue-select > button
 {
     -webkit-border-radius: 0;
    border-radius: 0;
   -webkit-box-flex:1;
    box-flex:1;
    margin : 0;
    display: block;
    width:100%;
    border-top:1px solid rgba(0, 0, 0, .2);
    color:#2C3E50 !important;
    background-color:#fff; 
}

 .blue-select > .selected{
   -webkit-box-flex:1;
    box-flex:1;
    margin : 0;
    display: block;
    width:100%;
    color:#fff !important;
    background-color:#3498DB !important;
}

.icon-container .icon{
    font-size: 2em;
    width:100%;
    text-align: center;
    padding:5px;
    position: absolute;
    left: 0;
    top:15px;
}

.list .mulbtn a{
     margin-top:2px;
     margin-bottom:2px;
}

@-webkit-keyframes fadeIn 
{
    from {opacity: 0;}
    to { opacity: 1; }
}

@keyframes fadeIn 
{
    from{opacity: 0;}
    to { opacity: 1; }
}

.animate{
animation: fadeIn 1s ease-in-out forwards;   
-webkit-animation: fadeIn 1s ease-in-out forwards;
}

.fixedtitlerow{
     position: relative; 
     top: expression(this.offsetParent.offsetParent.offsetParent.scrollTop); 
     z-index:10; 
}

.fixedtitlerow a{
     position: relative; 
}

.li-group {
    display: -webkit-box;
    display: box;
    overflow: hidden;
    font-size: 1em;
    font-weight: 600;
    list-style: none;
    line-height: 30px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color:#3498DB;
    border-radius: 0;
    -webkit-border-radius: 5px;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.li-group a {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    border-left: 1px solid rgba(0, 0, 0, .2);
    box-shadow: inset 1px 0 rgba(255, 255, 255, .25);
    -webkit-box-flex: 1;
    box-flex: 1;
}

.li-group > a {
    display: block;
    padding: 8px 16px;
    overflow: hidden;
    line-height: 15px;
    font-weight: 600;
    text-overflow: ellipsis;
    width:20%;
}

.li-group a:first-child {
    border-left-width: 0;
    box-shadow: none;
}

.table-header {
    background-color: #2980B9 !important;
    border-radius: 0;
}
.li-group .icon{
    font-size: 1.2em;
}

/*
* form-li:每个li每行单独展示
*  可自定义
*/

.form-li{
     list-style: none;
    background-color: #EEF3F3;
}

.form-li>li 
{
    background-color: #EEF3F3;
    position: relative;
    margin:10px 10px 10px 10px;
    padding:0;
    border:0;
    margin-top:20px;
}


/*
* form-li.inset-list:为表格样式的form
*  可自定义
*/

.form-li.inset-list{
    margin-top:10px;
}

.form-li.inset-list>li{
    margin-top:0px;
    margin-bottom:0px;
}

.form-li.inset-list .control-group{
    border-radius:0;
    -webkit-border-radius:0;   
 }

.form-li.inset-list>li:first-child .control-group{
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
}

.form-li.inset-list>li:last-child .control-group{
    border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
}

.form-li .control-group{
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .1),
                0px -1px 1px rgba(0, 0, 0, .1),
                -1px 0px 1px rgba(0, 0, 0, .1);
    background-color:#fff;
    border:0px solid rgba(0, 0, 0, .2);
}

.form-li .control-group.divider{
    position: relative;
    top: -1px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left:10px;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 18px;
    color: rgba(0,0,0,.5);
    text-shadow: 1px 1px 1px #fff;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #f8f8f8 0, #eee 100%);
    background-image: linear-gradient(to bottom, #f8f8f8 0, #eee 100%);

    box-shadow: 2px 2px 1px rgba(0, 0, 0, .1),
                0px -1px 1px rgba(0, 0, 0, .1),
                -1px 0px 1px rgba(0, 0, 0, .1);
}

.form-li .control-group>li{
    border-radius: 0;
    -webkit-border-radius: 0;
    background-color:rgba(255,255,255,0.0);
    border:0;
    padding:5px;
    box-shadow:none;
}

.form-li .control-group>li .icon{
    font-size: 18px;
    margin-top: -9px;
    color: rgba(0, 0, 0, .1);
    padding-left:0px;
}

.form-li .control-group>li>a{   
    overflow:visible;
    font-size:1.0em;
    background-color:rgba(255,255,255,0.0);
    border-radius: 0;
    -webkit-border-radius: 0;
    color:rgba(0,0,0,.4) !important;
    text-align: right;
    padding-left:5px;
}

/*
*  header-tab:为头部tab标签
*/
.header-tab
{
    width:100%;
    display:box;
    display:-webkit-box;
    margin:0;
    padding-top:0px;
    background-color:#3498DB;
    background-image:-webkit-linear-gradient(top, #57AAE1 0, #3498DB 100%);
    color:#fff;
}

.header-tab>li{
    box-flex:1;
    -webkit-box-flex:1;
    color:#fff;
    margin-left:30px;
    position:relative;
}

.header-tab>li:last-child{
    margin-right:30px;
    border-right:none;
}

.header-tab>li>a{
    position:relative;
    text-align:center;
    font-size:1.1em;
    font-weight:bold;
}
.header-tab>li.active{
    margin-top:5px;
    color:#3498DB;
    background-image: #EEF8FE;
    background-color:#EEF8FE;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    box-shadow:-2px 0px 3px rgba(191,197,201,0.5),
                2px 0px 3px rgba(191,197,201,0.5),
                0px 1px 3px rgba(191,197,201,0.5);
}

.header-tab>li.active:before{
    
     
    position:absolute;
    right:90%;
    content:"";
    width: 0;     
    height: 0;
     float:left;      
     border:18px solid #EEF8FE;
     border-top-left-radius:30px 40px;
     box-shadow:-2px 0px 2px rgba(191,197,201,0.1),
                2px 0px 2px rgba(191,197,201,0.5),
                0px 1px 2px rgba(191,197,201,0.1);

}

.header-tab>li.active:after
{
    font-family: 'Jingle';
    font-weight: 900;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
     text-align:center;
     text-decoration: inherit;
    display: inline-block;
    speak: none;
     position:absolute;
     content:"\39";
    right:91%;
    font-size:1.5em;
    
    text-shadow:-2px 0px 3px rgba(191,197,201,0.5),
                2px 0px 3px rgba(191,197,201,0.5),
                0px 1px 3px rgba(191,197,201,0.5);
}
.header-tab>li.active a{
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    color:#3498DB;
     text-align:center;
     font-weight:bold;
     font-size:1.1em;
     -webkit-text-stroke: 1px #57AAE1;
     text-shadow:-2px 0px 3px rgba(191,197,201,0.5),
                2px 0px 3px rgba(191,197,201,0.5),
                0px 1px 3px rgba(191,197,201,0.5);
}
li .line{
    box-shadow:0px -1px 1px rgba(0, 0, 0, .1),
                2px 2px 1px rgba(0, 0, 0, .1),
                -1px 0px 1px rgba(0, 0, 0, .1);
}

.list-button
{
    padding: 10px 16px;
    font-family: inherit;
    font-size: 120%;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
     color:#fff;
}

.radius{
    -webkit-border-radius: 15px;  /*只支持webkit内核的浏览器*/ 
    border-radius: 15px;  /*只支持IE内核的浏览器（IE>=7)*/ 

}

.border-line
{
    margin-top:1px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.list>li .right-bottom-tag{
    position: absolute;
    bottom:10px;
    right: 10px;
    padding: 1px 5px;
    right: 30px !important;
    font-size: 1.0em;
}

.list>li >p{
    margin-left: 0px;
}

.list>li >strong
{
    margin-top:0px;
    margin-left: 3px;
}

.type{
    background-color: #009933;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 0 5px;
}

.image-ui{
    padding:12px 15px 15px 15px; 
}

.block1{
    list-style: none;
    height:46.1%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#fff; 
    margin:0;
}

.form-no-border{
     list-style: none;
    background-color: #fff;
    margin-top:11px;
}

.form-no-border>li 
{
    position: relative;
    padding:2px 16px 3px 8px;
}


/*
** img-group :手机主页模块样式
**  可自定义
*/
.img-group {
    display: -webkit-box;
    display: box;
    overflow: hidden;
    list-style: none;
    line-height: 30px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.img-group li {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    box-shadow: inset 1px 0 rgba(255, 255, 255, .25);
    -webkit-box-flex: 1;
    box-flex: 1;
    margin:0;
    padding:3px 0px 1px 8px; 
}

.img-title
{
    font-weight: bold;
    position:absolute;
    font-size: 1.3em;
    margin:0;
    padding:10px 12px 20px 10px;
}
.img  
{
    position:relative;
    -webkit-box-flex: 1;
    box-flex: 1;
    background-size：cover;
}

select{
    line-height: 15px;
    background-color:#fff;
    -webkit-border-radius: 0;
    border-radius: 0;
    color:rgba(0,0,0,.5) !important;
    border:0px;
    padding:5px 16px 5px;
    margin:0;
    text-align: right;
    box-shadow:none;
    font-weight: 600;
}

select *{
    color:rgba(0,0,0,.7) !important;
    font-size:1em;
}
/*
*  div-header:为头部tab标签
*/
.div-header{
    background-color:#fff;
    color: #fff;
    display: -webkit-box;
    display: box;
    text-align: center;
    height: 40px;
    line-height: 40px;
}